body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #12131E;
    color: white;
    height: 100vh;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1.6vw;
    padding-top: 2vh;
}

.container {
    position: relative;
    overflow: hidden;
    margin-bottom: 5vh;
    margin-top: 2vh;
    border-width: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 97vw;
    height: 95vh;
    border-radius: 3vw;
    box-sizing: border-box;
}

.video {
    filter: blur(4vh) contrast(2) brightness(0.5) saturate(1.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    z-index: 0;
}

.intro {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    line-height: 0.1vh;
}

.intro p {
    font-size: 1vw;
    letter-spacing: 0.1vw;
    margin-top: 6vh;
    position: relative;
}

/* New Image Container CSS */
.image-container {
    position: absolute;
    top: 2vh; /* Adjust the value as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.image-container img {
    width: 30vw; /* Adjust the size as needed */
    border-radius: 1vw;
}

.message {
    line-height: 1;
    z-index: 5;
    position: relative;
    margin: 2vh;
    margin-top: 5vh;
    font-family: 'OliverOblique';
}

.message p {
    font-size: 5vw;
    width: 100%;
    margin: 1.5vh 0;
    font-style: italic;
}

#elite {
    font-size: 2vw;
    padding-top: 10vh;
    white-space: nowrap;
}

form {
    margin: 2vh 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* font-size: 1.2vw; */
    margin-top: 2.5vh;
}

input[type="email"] {
    padding: 1vh;
    width: 25vw;
    max-width: 30vw;
    margin-right: 1.5vw;
    border-radius: 4vw;
    border: none;
    text-align: center;
    font-size: 1.5vw;
}

button {
    padding: 1vh 2vh;
    border: none;
    border-radius: 3vw;
    width: auto;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1.5vw;
}

button:hover {
    background-color: #f0f0f0;
    color: black;
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 2.5vw;
    flex-wrap: wrap;
    height: 5vh;
    margin-bottom: 2vh;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 101%;
    font-size: 2vh;
}

.links a, .links p {
    margin: 0.5vh 0;
    color: #fff;
    text-decoration: none;
}

.links a:hover, .links p:hover {
    text-decoration: underline;
}

@media (min-width: 300px) and (max-width: 599px) {
    .main-container {
        margin-top: 1.2vh;
    }

    .container {
        height: 100vh;
    }

    .intro p {
        font-size: 4.2vw;
        margin-top: 6vh;
    }

    .message {
        margin-top: 3vh;
    }

    .message p {
        font-size: 5.6vw;
    }

    #elite {
        font-size: 4.4vw;
    }

    input[type="email"] {
        width: 65vw;
        max-width: none;
        font-size: 2vh;
    }

    button {
        width: 50vw;
        padding: 1vh;
        font-size: 2vh;
    }

    form {
        flex-wrap: wrap;
        width: 80vw;
        gap: 1vh;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2vh;
        height: auto;
        margin-bottom: 2vh;
        white-space: nowrap;
        align-items: center;
        top: 110%;
        font-size: 3vw;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .main-container {
        margin-top: 1.2vh;
    }

    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .intro {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        line-height: 1.2vh;
        text-align: center;
    }

    .intro p {
        font-size: 1.5vw;
        margin-top: 3vh;
    }

    .message {
        margin-top: 3vh;
    }

    .message p {
        font-size: 4vw;
    }

    #elite {
        font-size: 3vw;
        padding-top: 5vh;
    }

    input[type="email"] {
        width: 60vw;
        max-width: none;
        font-size: 2vh;
    }

    button {
        width: 45vw;
        padding: 1vh;
        font-size: 2vh;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        gap: 1vh;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .links {
        display: flex;
        justify-content: space-around;
        gap: 3vw;
        height: auto;
        margin-bottom: 2vh;
        white-space: nowrap;
        align-items: center;
        top: 105%;
        font-size: 1.5vw;
    }
}
